* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

/* *This starts the styles for the calendar section of the app */

#calendar-section {
	width: 65%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}



.arrow{
	color:#26B9CC;
}

#calendar-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:75%;
	height:80vh;
	color:#26B9CC;
}

#title{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
}

#month{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 2px solid gray;
	margin: 0 10px;
}

#weekdays{
	width: 100%;
	display: flex;
	flex-direction: row
}

#days{
	width: 100%;
	height: 100%;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#days div, #weekdays h4{
	display: flex;
	justify-content: center;
	width:calc(100% / 7);
}

/* *This starts the styles for the event section of the app */

#event-section {
	width: 35%;
	height: 100%;
	background:linear-gradient(180deg, rgba(209, 226, 188, 0.9) 0%, rgba(255, 255, 255, 0) 100%), rgba(160, 236, 247, 0.5) url('./assets/mountain.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	
}

#event-section h4{
	display: flex;
	justify-content: flex-end;
	padding-right: 50px;
	color: whitesmoke;

}

#event-section h3,
#event-section h2{
	color: whitesmoke;
	padding-left: 60px;
}


.event-planner{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 100%;
	padding: 20px 0;
}


.event-day{	
	display: flex;
	flex-direction: column;
	font-size: 1.3rem;
	padding-right: 15px;
	border-right: 4px solid whitesmoke;
	color: rgb(255, 255, 255);
}


.event-topic{
	display: flex;
	flex-direction: column; 
	font-size: 1.3rem;
	padding: 0 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(54, 38, 38, 0.199);
	border-radius: 10px;
}


.event-input{
	font-size: 20px;
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: flex-end;
}


.fas{
	padding-left:10px;
	display: flex;
	padding-top: 5px;	
}

/* *This starts the section for the modal */

.modal{
	/* display: none; */
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content{
	background-color: #f4f4f4;
	margin: 8% auto;
	padding: 70px;
	width: 50%;
	box-shadow: 0 0 5px 5px  rgba(0, 0, 0, 0.3);
}

.modal-content h1{
	width: 70%;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
}

.closeBtn{
	color: rgb(168, 155, 155);
	float:right;
	font-size:24px;
}

.closeBtn:hover, .closeBtn:focus{
	color: black;
	cursor: pointer;
}

.month-content{
	display: flex; 
	flex-direction: row;
}

.start-content{
	display: flex;
	flex-direction: row;
	width: 50%;
}

.start-content p:nth-of-type(1){
	flex-grow: 1;
}
.start-content p:nth-of-type(2){
	flex-grow: 2;
}
.start-content p:nth-of-type(3){
	flex-grow: 3;
}

.end-content{
	display:flex;
	flex-direction: row;
	width: 50%;
}

.end-content p:nth-of-type(1){
	flex-grow: 1;
}
.end-content p:nth-of-type(2){
	flex-grow: 2;
}
.end-content p:nth-of-type(3){
	flex-grow: 3;
}

.info-content{
	width: 100%;
	display: flex;
	flex-direction: row;
}

.icons{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 20px;
	text-indent: -8px;
	color:#26B9CC ;
}

.icon-info{
	display: flex;
	padding-left: 15px;
	justify-content: space-around;
	flex-direction: column;
}	

.button{
	
	display: flex;
	width: 100%;
	justify-content: flex-end;
	
}

.button button{
	border-radius:5px;
	background-color: #26B9CC;
	font-size:18px;
	padding:3px 20px;
	color: white;
	border: none;
}